@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
    @apply hover:text-white;
    @apply duration-300;
    @apply relative;
  }
  li::after {
    @apply content-[""] absolute bg-[#05b8ff] h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl duration-300;
  }
  li:hover::after {
    @apply w-[100%];
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important;
}
